

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;

}

/* .mulish-<uniquifier> {
    
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
   html {
  scroll-behavior: smooth;
}

.header{
    min-height: 100vh;
    width: auto;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/img/bakaka.jpg.jpg);
    background-position: center;
    background-size: cover;
      position: relative; 
}
/* .nav__links{
    display: grid;
    justify-items: end;
} */ /* one way of putting it */

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
nav img{
    width: 140px;
}
.nav__links{
   flex: 1;
   text-align: right;
   white-space: nowrap;
}
.nav__links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
     position: relative; 
}
.nav__links ul li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    
}
.nav__links ul li::after{
    content: '';
    width: 0;
    height: 2px;
     background: #f44336;
     display: block;
     margin: auto;
     transition: 0.5s;

} 
.nav__links ul li:hover::after{
    width: 100%;

}
.text__box{
    width: 90%;
    color: white;
 position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text__box h1{
    font-size: 60px;
}
.text__box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: white;

}
.hero__btn{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border: 2px solid white;
    padding: 12px 37px;
    background: transparent;
    position: relative;
}
.hero__btn:hover{
    border:1px solid #f44336;
    background: #f44336;
    transition: 1s;

}
nav .fa{
    display: none;
}
@media(max-width: 700px) {
    .text__box h1{
        font-size: 20px;
    }
    .nav__links ul li{
        display: block;
    }
    .nav__links{
        position:absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;


    }
    nav .fa{
        display: block;
        color: aliceblue;
        margin: 10px;
        font-size: 22px;
         cursor: pointer; 
    }
    .nav__links ul{
        padding: 30px;
    }
    .row{
        flex-direction: column;
    }
    
}
.logo{
  border-radius: 50%;
}
/* course */
.course{
     width: 80%; 
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

 h1{
    font-size: 36px;
    font-weight: 700;
    text-align: center;

}
   p{
    color: grey;
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
    padding: 1rem;
    

  }  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .course__col {
    flex: 1 1 calc(33.333% - 20px); /* or you can also set the flexbasis o 31% */
    box-sizing: border-box;
    background-color: #f0e3d7;
    padding: 1rem;
    border-radius: 8px;
    transition: 0.5s;
    margin-bottom: 5%;
  }
  h3{
    text-align: center;
    font-weight: 500;
    margin: 10px 0;
  }
  .course__col:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
  }

 /*  CAMPUS */
  .campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
  }
   
    .campus__col {
    flex: 1 1 calc(33.333% - 20px); /* or you can also set the flexbasis o 31% */
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 5%;
  /*   padding: 0;
    box-sizing: border-box; */
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    
  }
 .campus__col img{
    width: 100%;
    height: auto;
    display: block; 
    border-radius: 10px;  
    transition: transform 0.5s ease; 
  } 
.layer{
   /*  background: transparent;
     height: 100%;
    width: 100%; 
    padding: 100px;
    position: absolute;
    top: 0;
    left: 0; 
    transition: 0.5s;
    display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
      */
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 0, 0, 0); /* Transparent initially */
      transition: background 0.5s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
    }

  /*  .layer :hover{
    background: rgba(185, 36, 22, 0.5); */
  
  .campus__col:hover .layer {
    background: rgba(236, 118, 118, 0.6); /* Red overlay */
  }

  /* .layer h3{
    width: 100%;
    font-weight: 500;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    color: white;
      transform: translateX(20px); 
    transition: 0.5s;
 

  } */

 .layer h3 {
  color: white;
  font-size: 26px;
  font-weight: 600;
  opacity: 0;
  transition: 0.5s;
}

  .campus__col:hover .layer h3 {
    opacity: 1;
   /*  transform: translateY(0); */
  }
  .facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
  }
  .facilities__col{
    flex: 1 1 calc(33.333% - 20px); 
    box-sizing: border-box;
    background-color: #f0e3d7;
    padding: 1rem;
    border-radius: 8px;
  }
  .facilities__col h3{
    text-align: center;
    padding: 0;
  }
  .testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  .testimonials h1{
    text-align: center;
  }
    .testimonials p{
        text-align: center;
      /*   font-size: 14px;
        font-weight: 200; */
       /*  line-height: 22px; */
       /*  padding: 1rem; */
    }
    .testimonials__col img{
        border-radius: 50%;
        height: 100px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .testimonials__col{
        display: flex;
        flex-basis: 44%;
        border-radius: 10px;
        margin-bottom: 5%;
        text-align: left;
        background: #f0e3d7;
        padding: 25px;
        cursor: pointer;
      /*   gap: 20px; */
    }
    .testimonials h3{
        text-align: center;
    }
    .testimonials__col p{
        padding: 0;

    }
    .testimonials__col h3{
        margin-top: 10px;
        text-align: left;

    }
@media(max-width: 700px) {
    .testimonials__col{
        margin-left: 0px;
        margin-right: 15px;
    }
    .cta h1{
      font-size: 24px;
    }
}

.cta{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/img/banner2.jpg);
 /*  background-image: linear-gradient( rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
  url(/img/banner.png); */

background-size: cover;
border-radius: 10px;
text-align: center;
padding: 100px 0;
}
.cta h1{
  color: white;
  margin-bottom: 60px;
  padding: 0;
}
/* FOOTER */
.footer{
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.footer h4{
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 15px;
}
.icons.fa{
  color: rgb(73, 54, 54);
  margin: 0 10px;
  cursor: pointer;
  padding: 10px;
}

/* ABOUT US PAGE */
.about__col img{
  width: 100%;
  
 
 
}
.about__us{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  /* display: flex;
  gap: 3rem; */
}

.about__col h1{
  padding-top: 0;
}
.about__col p{
  color: rgb(180, 141, 141);
  font-size: 14px;
  font-weight: 200;
  line-height: 22px;
  padding: 15px 0 25px;
}
.about__col{
  flex-basis: 48%; 
  box-sizing: border-box;
  background-color: #f0e3d7;
  padding: 40px 1px;
  border-radius: 8px;
  border: 2px solid rgb(203, 192, 192);
}
.header__about{
   height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/img/pexels-thnhphng1520-698516.jpg);
    background-position: center;
    background-size: cover;
      position: relative; 
      text-align: center;
}
.red__btn{
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;


}
.red__btn:hover{
  background: #f44336;
  color: white;
  transition: 1s;
}


/* blog page */
.blog{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.left__col{
  flex-basis: 68%;
  padding: 0 20px;
}
.left__col img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.left__col h1{
  font-size: 36px;
  font-weight: 700;
}
.left__col p{
  color: rgb(180, 141, 141);
  font-size: 14px;
  font-weight: 200;
  line-height: 22px;
  padding: 15px 0 25px;
}
.right__col{
  flex-basis: 30%;
  line-height: 1.6;
  
}
.right__col h2{
  font-size: 20px;
  font-weight: 700;
  background: #f44336;
  color: white;
  padding: 10px 0;
  margin-bottom: 25px;
}
.right__col div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(180, 141, 141);



}
.comment{
  border: 2px solid #f44336;
  border-radius: 10px;
  padding: 12px 24px;
}
.comment h3{
  font-size: 20px;
  font-weight: 700; 
  text-align: left;
}
.comment input, .comment textarea{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background: #f0e3d7;
  outline: none;
} 

   